<div class="container">
  <h2>Blog Posts</h2>

  <div class="top-bar">
    <input
      type="text"
      [(ngModel)]="search"
      (keyup)="loadPosts()"
      placeholder="Search by title..."
    />

    <a routerLink="/create" class="create-btn"> + Create Post </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (post of posts; track post.id) {
        <tr>
          <td>{{ post.title }}</td>

          <td>{{ post.author }}</td>

          <td>
            <a [routerLink]="['/post', post.id]"> View </a> |
            <a [routerLink]="['/edit', post.id]"> Edit </a>

            |

            <button (click)="deletePost(post.id)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
